{{ define "main" }}

<link rel="stylesheet" href="/css/style.css">

<div class="teaching col">

    <h4 class="main_color" style="text-align: center;">
        Publications and Conferences
    </h4>

    <div class="sub-section">

        {{ range .Pages.ByDate.Reverse }}

        <div class="row">

            <div class="course col">

                <div class="course_title">
                    {{ .Title }}
                </div>

                <div class="main_color dates">
                    {{ .Date.Format "2006" }}
                </div>

                {{ with .Params.authors }}
                <div class="other_info text-muted">
                    {{ delimit . ", " }}
                </div>
                {{ end }}

                {{ with .Params.publication }}
                <div class="other_info text-muted">
                    <em>{{ . }}</em>
                </div>
                {{ end }}

                {{ with .Params.links }}
                <div class="other_info">
                    {{ range $name, $url := . }}
                    <a class="main_color text-decoration-none rounded"
                       href="{{ $url }}"
                       target="_blank">
                        {{ $name }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}

            </div>

        </div>

        {{ end }}

    </div>

</div>

{{ .Content }}

{{ end }}